/*General stuff*/
.page{height:100vh; position:relative;}
#top-bar{position:fixed; width:100%}
#home{cursor:pointer;}

/*Landing Page*/
#bottom-bar{
    position: fixed;
    top:85vh;
    left:0;
    width:90vw;}
#bottom-bar #left{left:10vw;display:inline-block;}
#bottom-bar #center{
    left:40vw;
    display:inline-block;
    font-size:3em;
}
#bottom-bar #right{
    position:relative;
    left:75vw;
    display:inline-block;
}
#bottom-bar .glyphicon-menu-down:hover{color:darkgray;cursor:pointer;}

/*Portfolio*/
#gallery{
    position:absolute;
    height:70vh;
    width:83vw;
    bottom:20px;
}
/*Gallery Nav*/
#gallery-nav ul{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bolder;
    color:grey;
    list-style:none;
    margin-top:2%;
}
#gallery-nav .active{
    color:black !important;
}